.detalhe{
    position: absolute;
    top: 50px;
}
.nome{
    position: absolute;
    top: 50px;
    left: 33%;
}
.funcao{
    position: absolute;
    top: 15%;
    left: 33%;
}
.laranja{
    position: absolute;
    background-color:#e36f68;
    height: 100px;
    width: 30px;
    left: 398px;   
}
.traco{
    background-color: #e36f68;
    height: 5px;
    width: 100%;
}
.redes{
    position: absolute;
    top: 160px; 
    left: 373px;
}
.localizacao{
    position: absolute;
    top: 160px; 
    left: 52%;
}
section{
    border-style: solid;
    border-width: 4px;
    border-left: none;
    border-color: #e36f68;
}
.segunda{
    position: absolute;
    top: 296px;
    left: 49%;
}
.teste{
    display: inline-block;
}
.sobremim{
    position: relative;
    top: 4px;  
    left: 11px; 
}
.educacao{
    position: relative;
    top: 9px;
    left: 9px; 

}
.experiencia{
    position: relative;
    top: 5px;
    left: 11px; 

}
.sla{
    position: relative;
    top: -500px;
}
.habicomp{
    border-top: none;
    border-right: none;
    position: relative;
    top: -82px;
}
.sla{
    position: relative;
    border-top: none;
    border-right: none;
    top: -220px;
    left: 500px;
}
.port{
    position: relative;
    top: -110px;
    border-bottom: none;
    border-right: none;
}
.idio{
    border-right: none;
    position: relative;
    top: 74px;
    right: 12px;

}
.habitec{
    position: relative;
    top: 1px;  
    left: 11px;
}
.habitecsec{
    border-right: none;
}
.habicomp2{
    position: relative;
    top: 8px;  
    left: 11px;
}
.port2{
    position: relative;
    top: 4px;  
}
.idiomas{
    position: relative;
    top: 4px; 
    left: 11px;

}
.dioma{
    position: relative;
    top: 15px; 
}
.quali{
    position: relative;
    top: -46px; 
    left: 150px;
}